#METADATA
BOARDID: 0x27
CHANNELMIN: 0
CHANNELMAX: 15
ADDITIONALTAG: InjectCharge
DODEBUG: 0
#MENUSELECTIONS
#FOLLOWING INPUTS ARE FOR MENU CHOICES AFTER REACHING MB CONTROLLER TEST LOOPBACK,
#OR SELECTING 8 AND THEN 4 (giving this input file automatically assumes you want that workflow)
NUMBEROFLOOP: 1
NUMBEROFEVENT: 1
POSITIONOFMODULE: 5
NUMBERFEM: 1

USEXMIT: 0
WRITETOFILE: 1
USEPULSE: 0
USEEXTERNALTRIGGER: 0
USEPULSEGEN: 1
USEDCM: 0
NUMBEROFSTEPS: 40
EVENTSPERSTEP: 1000
DACPERSTEP: 100
SIGNAL: ffff
USEFIXEDDAC: 0
L1DELAY: 40

#LAST TWO SHOULD ALMOST ALWAYS BE ZERO 
LOADADCMEM: 0
TRIGXMITRESET: 0